/* Adjust the next and prev buttons to be further away from the carousel */
.swiper-button-next, .swiper-button-prev {
  /* Adjust the position as needed */
  top: 50%; /* Aligns the button vertically */
  transform: translateY(-50%); /* Centers the button vertically */
  z-index: 10; /* Ensures the buttons are above the slides */
  
}

.swiper-button-next {
  right: -25px; /* Moves the next button to the right of the carousel */
}

.swiper-button-prev {
  left: -25px; /* Moves the prev button to the left of the carousel */
}
