body,html {
    background-color: aqua;
    overflow-x: hidden;
}
@font-face {
    font-family: "Lexend Tera";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("assets/LexendTera-VariableFont_wght.ttf") format("truetype");
  }
@font-face {
    font-family: "Dm Sans Italic";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("assets/DMSans-Italic-VariableFont_opsz\,wght.ttf") format("truetype");
  }
@font-face {
    font-family: "Dm Sans";   /*Can be any text*/
    src: local("AirbnbCerealLight"),
      url("./assets/DMSans-VariableFont_opsz\,wght.ttf") format("truetype");
  }